/*///////////////////////////////////// police/////////////////////////////////////////////////////////////////////////////////// */

body{
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    }
     
     
    /*/===================================================================================================================================
    dashboad
    =======================================================================================================================================*/
    body{
    margin: 0px;
    }
    a{
    text-decoration: none;
    color: white;
    }
    header{
    padding-top: 10px;
    height: 81px;
    width: 100%;
    }
    .big-section{
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
    height: 100vh;
    }
     
    .focuss:focus{
    outline: none;
    border-color: #FF5F00;
    }
     
    .section-1{
    background-color: rgb(243,245,247);
    min-height: 111%;
    /* position: fixed; */
    }
     
     
     
    #description{
    border: 1px solid rgb(189, 187, 187);
    height: 100px;
    width: 90%;
    font-size: 16px;
    border-radius: 10px;
    padding: 20px 20px 20px 30px;
    }

    .asid-contacts{
    padding: 40px 40px 40px 40px;
     
    }
    .asid-contat{
    padding: 0px 40px 40px 20px;
     
    }
    .image{
    width: 20px;
    height: 20px;
    }
    .logo {
    display: flex;
    justify-content: center;
    width: 250px;
    align-items: center;
     
    }
    .logo-img {
    max-width: 70px;
    margin-right: 10px;
    }
    .sect{
    display: flex;
    justify-content: space-between;
    }
    .prizesTableContainer{
    overflow-y: scroll;
    height: 80%;
    }
     
    .section-2{
    width: 100%;
    overflow-y: scroll;
    min-height: 100vh;
    }
    hr{
    margin: 0px;
    }
    input{
    height: 40px;
    width: 97%;
    padding: 10px 0px 10px 15px;
    border-radius: 10px;
    border: 1px solid rgb(189, 187, 187);
    font-size: 16px;
     
    }
     
    .creat-tick{
    display: flex;
    justify-content: start;
    margin: 0px 0px 0px 60px;
    padding: 20px 30px 0px 30px;
    background-color: rgb(243,245,247);
    width:40%;
    height:100%;
    border-radius: 15px;
    }
    .radio {
    display: flex;
    align-items: center;
    gap:5px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgb(189, 187, 187);
    }
    input[type=radio] {
    border: 0px;
    width: 15px;
    margin: 0;
    height: 1em;
    cursor: pointer;
    }
    h2{
    margin: 25px 0px 5px 0px ;
    }
    b{
    font-size: 20px;
    }
    .selecte {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(189, 187, 187);
    font-size: 16px;
    padding: 20px 20px ;
    }
     
    .option-select{
    font-size: 20px;
    appearance: none;
    display: block;
    line-height: 25px;
    background-color: rgb(243,245,247);
    margin: 20px;
    }
     
     
    div.priorities {
    width: 100%;
    }
    .flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    }
    .flexs{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    }
     
    .bouton, .titre{
    margin-top: 25px;
     
    }

    .customersBtn, .ticketsBtn {
    width: 15%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #0F2A97;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;

    }


    .boutonn{
    width: 10%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #f80e06;
    color: white;
    font-size: 20px;
    }
    .bouton{
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 10px;
    background-color: #0F2A97;
    color: white;
    font-size: 20px;
    }
    .notification{
    width: 60%;
    padding: 0px 60px 0px 50px;
    height: 100vh;
    }
     
    .box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    background-color: rgb(243,245,247);
    padding: 30px 20px;
    margin-bottom: 30px;
    font-size: 18px;
    color:rgb(87, 82, 82);
    border-radius: 15px;
    }
     
    .titre h1{
    font-size: 40px;
    margin: 0;
    color: #FF5F00;
    }
    form{
    width: 100%;
    }
     
    /* =================tableau================================ */
     
    .tickets-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
     
    }
     
    .tickets-table th, .tickets-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    }
     
    .tickets-table th {
    background-color:#0F2A97;
    color: white;
    }
     
    .tickets-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    }
     
    .tickets-table tbody tr:hover {
    background-color: #ddd;
    cursor: pointer;
    }



    .customers-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        border-radius: 15px;
        overflow: hidden;
         
        }
         
        .customers-table th, .customers-table td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
        }
         
        .customers-table th {
        background-color:#0F2A97;
        color: white;
        }
         
        .customers-table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
        }
         
        .customers-table tbody tr:hover {
        background-color: #ddd;
        cursor: pointer;
        }
     
    /* ------------------------------------------------------------------------------------------------------------------------- */
     
     
    .priorit,.projet, .type, .date, .id{
    width: 70px;
    }
     
    .logout{
    margin: 0px 50px 10px 0px;
    display: flex;
    justify-content: end;
    padding: 10px;
    }
     
    .modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0%;
    top: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    }
     
    .modal-content {
    background-color: #fefefe;
    margin-bottom: 30px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    width:50%;
    max-width: 750px;
    }

    .close {
        cursor: pointer;
    }
     
    .ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .ticket-header button {
    background-color: #f5f5f5;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    }
    .ticket-type-priority {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    }
    .ticket-footer {
    text-align: center;
    background-color: #e0ffe0;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    color: #28a745;
    }
    .selects{
    border: 1px solid rgb(189, 187, 187);
    width: 100%;
    height: 150px;
    border-radius: 15px;
    margin: 10px;
    }
    .recup-id-subjec{
    border: 1px solid rgb(189, 187, 187);
    height: 74px;
    border-radius: 15px 15px 0px 0px;
    padding: 0px 20px;
     
    }
    .type-priority{
    display: flex;
    justify-content: start;
    width: 100%;
    }
    .recup-type-priority-1{
    border-radius: 0px 0px 0px 15px;
    }
    .recup-type-priority-2{
    border-radius: 0px 0px 15px 0px;
    }
    .recup-type-priority{
    border: 1px solid rgb(189, 187, 187);
    padding: 0px 20px;
    height: 74px;
    width: 100%;
    }
    .boss p{

    margin: 3px 7px;
    width: 50%;
    display: flex;
    justify-content: center;
    }
    .boss1 p{
 
    margin: 3px 7px;
    width: 50%;
    display: flex;
    justify-content: center;
    }
    .base p{
    margin: 7px 0px;
    }
    #modal-priority{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    background-color:orange;
    }

    h1{
        margin-bottom: 0px;
        font-size: 30px;
        }
        .base strong{
        font-size: 20px;
        padding: 0px 10px;
        }
        .boss, .boss1, strong{
        font-size: 20px;
        }
        
        /* -----------------------------------. */
         
        .accordion-container{
        /* margin: 0px 0px 0px 150px; */
        border-radius: 15px;
        width: 100%;
        /* height: 297px; */
        /* left: 10%; */
        }
        .accordion {
        background-color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 95%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 16px;
        transition: background-color 0.3s ease;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        
        .accordion p {
        margin: 0;
        }
        
        .accordion.active {
        background-color: #e9e9e9;
        }
        
        .panel {
        padding: 0 18px;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        border-bottom: 1px solid #ddd;
        }
        .arrow {
        transition: transform 0.3s ease;
        transform: rotate(0deg);
        }
        
        .accordion.active .arrow {
        transform: rotate(180deg);
        }
        
        .task-container {
        padding-top: 25px;
        }
        
        .task-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        }
        
        .task-title {
        font-weight: bold;
        }
        
        .task-due-date {
        font-size: 0.9em;
        color: #777;
        }
        
        .task{
        display: flex;
        justify-content: start;
        /* align-items: center; */
        }
        .task input{
        margin: 0px;
        }
        /* style.css */
        input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        }

        #response{
            border: 1px solid rgb(189, 187, 187);
            height: 100px;
            width: 90%;
            font-size: 16px;
            border-radius: 10px;
            padding: 20px 20px 20px 30px;
            }

.responseBtn{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #0F2A97;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.deleteBtn{
    width: 40%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: #0F2A97;
    color: white;
    font-size: 20px;
    margin-left: 230px;
    cursor: pointer;
}
     
     
/* Style for admin responses */
.admin-response {
    background-color: lightgreen;
    color: green;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Style for user responses */
  .user-response {
    background-color: lightblue;
    color: blue;
    padding: 10px;
    border-radius: 5px;
  }
  

     
     
     
     
     
     
     
    @media screen and (max-width:500px) {
     
    .section-1{
    display: none;
    }
    .section-2{
    display: block;
     
    }
     
    }
     